body {
  background: #e0e5ec;
}
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
 
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-15 {
  background: rgb(122, 24, 72);
  padding: 10px;
  border: none;
  z-index: 1;
  margin-top: 70px;
  font-size: 16px;
  /* margin-left: 0px; */
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(204, 39, 119);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
 
.btn-16 {
  background: rgb(122, 24, 72);
  padding: 10px;
  border: none;
  z-index: 1;
  margin-top: 40px;
  font-size: 16px;
  /* margin-left: 0px; */
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(204, 39, 119);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #fff;
}
.btn-16:hover:after {
  left: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.btn-17 {
  background: rgb(122, 24, 72);
  padding: 10px;
  border: none;
  z-index: 1;
 
  font-size: 16px;
  margin: auto;
  align-items: center;
  /* margin-left: 0px; */
}
.btn-17:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(204, 39, 119);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-17:hover {
  color: #fff;
}
.btn-17:hover:after {
  left: 0;
  width: 100%;
}
.btn-17:active {
  top: 2px;
}

.promotionTextDiv {
  background-color: white;

  width: 75%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 100px;
 
  margin-left: 13px;
}
.promotionTextDivMain {
  display: flex;

  flex-direction: column;
  width: 300px;

  align-items: center;
  padding: 20px;
}
.promotionTextDivMain p {
  font-family: "Cormorant Garamond";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 30px;
}

.PramotionCardDiv {
  /* width: 30%; */
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -140px;
  margin-right: 50px;
  right: 0;
}

.PramotionCardDiv div {
  padding: 5px;
   
  color: white;
  width: 500px;
  background-color: #dfdeff;
}

.PramotionCardDiv div p {
  color: black;
  font-weight: 600;
  font-family: Cormorant Garamond;
}

/* screens: {
    xs: "480px",
    ss: "620px",
    sm: "768px",
    md: "1060px",
    lg: "1200px",
    xl: "1700px",
  }, */

.CaseStu {
  
  width: 100%;
  /* height: 90vh; */
}
 

.CaseStuImgDiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  height: 90%;
 
}
.CaseStuImgDiv div {
  display: flex;
   flex-direction: column;
   
  
}
 
 

@media (max-width: 1033px) {
  .PramotionCardDiv {
    /* width: 30%; */
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: -10px;

    margin-right: 40px;
    right: 0;
  }
}

@media (max-width: 667px) {
  .promotionTextDiv {
    background-color: white;

    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 100px;
  }
  .promotionTextDivMain {
    display: flex;

    flex-direction: column;
    width: 100%;
    margin: auto;
    left: 0;
    align-items: center;
    padding: 20px;
  }
  .promotionTextDivMain p {
    font-family: "Cormorant Garamond";
    font-style: normal;
    /* font-weight: 600; */
    font-size: 30px;
  }

  

  .PramotionCardDiv div {
    padding: 5px;
    color: white;
    width: 300px;
    background-color: #dfdeff;
  }
  .promotionTextDivMain p {
    font-family: "Cormorant Garamond";
    font-style: normal;
    /* font-weight: 600; */
    font-size: 25px;
  }
  .CaseStuImgDiv {
    display: flex;
    
    width: 95%;
    margin: auto;
    flex-direction: column;
    height: 90%;
  }
  .CaseStu {
  
    width: 100%;
    /* height: 90vh; */
  }
}
